::-moz-selection {
    background: rgba(185, 236, 236, 0.87);
    color: #000;
}

::selection {
    background: rgba(185, 236, 236, 0.87);
    color: #000;
}

body {
    margin: 0px;
    background-color: #000;
    background-image: url("/matrix.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    background-color: #000000fa;
    position: absolute;
    left: 0%;
    right: 0%;
    margin: auto;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    #bars {
        margin: auto;
        width: 1200px;
        height: 600px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        background-color: #020202;
        flex-wrap: wrap;
        transform: rotate(180deg);
        border: solid 1px rgba(221, 221, 221, 0.082);
        border-top: solid 15px rgba(185, 236, 236, 0.87);
        overflow-x: auto;

        .bar {
            margin: 0px 1px;
            height: 130px;
            width: 7px;
        }
    }

    #menu {
        margin-bottom: auto;
        margin-left: auto;
        width: 320px;
        height: 100%;
        background-color: #fff;
        border-left: solid 1px #d9d9d9;
        display: flex;
        align-items: center;
        justify-self: flex-end;
        flex-direction: column;

        h1 {
            text-align: center;
            font-family: "Poiret One", cursive;
        }

        button {
            width: calc(100% - 2px);
            width: 100%;
            height: 45px;
            cursor: pointer;
            background-color: inherit;
            outline: solid 1px #d9d9d9;
            border: none;
            border-radius: 0px;
            transition: 200ms ease;
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
                sans-serif;

            &:hover {
                background-color: rgba(0, 255, 255, 0.096);
            }
        }

        #options {
            display: flex;
            flex-direction: column;

            p {
                text-align: center;
                font-family: sans-serif;
                font-size: 14px;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
                    sans-serif;
            }

            input {
                text-align: center;
                border: none;
                border-bottom: solid 1px #d1d0d0;
                padding-bottom: 5px;
                margin: 6px 0px;
                outline: none;
            }
        }
    }
    #stats {
        margin-top: auto;
        width: 100%;
        height: 45px;
        border-top: solid 1px rgba(221, 221, 221, 0.425);
        background-color: #000;
        display: flex;
        align-items: center;

        p {
            color: #fff;
            margin: 0px 8px;
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
                sans-serif;
            font-size: 14px;

            &:first-child {
                margin: 0px 25px;
            }
        }

        svg {
            fill: rgba(185, 236, 236, 0.87);
            margin-left: 10px;
        }
    }
}
